@font-face {
  // font-family: 'ABeeZee', sans-serif;
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('/Users/imac/Desktop/axio/portfolio24/fotograff/src/assets/fonts/ABeeZee-Regular.woff2') format('woff2'),
    url('/Users/imac/Desktop/axio/portfolio24/fotograff/src/assets/fonts/ABeeZee-Regular.ttf') format('ttf');
}

@font-face {
  // font-family: 'Architects Daughter', cursive;
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/Users/imac/Desktop/axio/portfolio24/fotograff/src/assets/fonts/ArchitectsDaughter-Regular.woff2') format('woff2'),
    url('/Users/imac/Desktop/axio/portfolio24/fotograff/src/assets/fonts/ArchitectsDaughter-Regular.ttf') format('ttf');
}

@font-face {
  // font-family: 'DM Mono', monospace;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/Users/imac/Desktop/axio/portfolio24/fotograff/src/assets/fonts/DMMono-Regular.woff2') format('woff2'),
    url('/Users/imac/Desktop/axio/portfolio24/fotograff/src/assets/fonts/DMMono-Regular.ttf') format('ttf');
}