// тексты


h1 {
  font-family: 'Architects Daughter', cursive;
  color: $T_accent;
  font-size: func_respons(160, 30);
  line-height: func_respons(160, 60);
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: normal;
}

h2 {
  font-family: 'Architects Daughter', cursive;
  color: $T_accent;
  font-size: func_respons(120, 30);
  line-height: func_respons(120, 60);
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: normal;
}

// h3 {
//   font-family: 'Architects Daughter', cursive;
//   color: $T_accent;
//   font-size: func_respons(120, 30);
//   line-height: func_respons(120, 60);
//   font-weight: 900;
//   text-transform: capitalize;
//   letter-spacing: normal;
// }

// h4 {
//   font-family: 'HelveticaNeueLTStd-Md', serif;
//   @include font(aqua, 22, 12, 22, 12, 500, uppercase);
//   line-height: normal; // 12 10 12 10

// }

// h5 {
//   font-family: 'HelveticaNeue Regular', serif;
//   @include font(aqua, 12, 10, 12, 8, 400, uppercase, func_rem(0.14));
//   line-height: normal; // 7 5 7 5 
// }

// p,
// li {
//   font-family: 'HelveticaNeue Regular', serif;
//   @include font($T_color, 14, 12, 12, 10, 400);
//   line-height: func_rem(18); // 12 8 12 8
// }

// .text_accent {
//   font-family: 'HelveticaNeue Regular', serif;
//   @include font(aqua, 14, 12, 12, 10, 400, uppercase, func_rem(0.24));
// }