// значения параметров свойств для ссылок из макета в файле:
@import './../../styles_base/base/vars.scss';


// общие стили для всех эффектов и состояний class="button"
.button-e3 {

  @include transit(.5s);

  cursor: pointer;
  position: relative;

  :first-child {
    @include сentering-xy();
    color: $T-color;
    font-family: 'DM Mono', monospace;
    @include font_adapt(18, 12);
    letter-spacing: normal;

    white-space: nowrap; //запретить переносить слова
    text-transform: uppercase;
    text-align: center;

    &:hover {
      padding: 5px 10px;
      filter: hue-rotate(125deg);
      -webkit-filter: hue-rotate(125deg);
      border-left: 2px solid $T-color;
      border-right: 2px solid $T-color;
      @include transit(.5s);
    }
  }

}